


body {
    background-color: rgb(243, 197, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* canvas {
    border: 5px solid rgb(235, 122, 122); /* Just for visualization */
    #actionButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(10, 6, 6);
        background-color: transparent;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        cursor: pointer;
    }
    
    #myCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    

